/*Обнуление*/
*{padding: 0;margin: 0;border: 0; }

/*--------------------*/
body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px;
}
h2{
   font-weight: bold;
   font-size: 18px;
   margin-bottom: 5px;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.content div{
   background:#b3f2f2;
   width: 700px;
   height: 100px;
   box-shadow: 0 5px 5px  rgba(0,0,0,0.3);
   border-bottom: 2px solid black;
   padding: 15px;
}
.content div:hover{
   background: #ff5555 ;
}
.button{
background: linear-gradient(#00ec00, #009500);
   color:white;
   padding: 5px;
   box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
   position: relative;
   margin-left: 37%;
   margin-top: 15px;
}

.popup{
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.813);
   top: 0;
   left: 0;
   display: none;
   
}
._visible{
   display: block;
}
.popup_body{
   min-height: 100%;
   opacity: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}
.popup_content{
   width: 378px;
   height: 165px;
   background-color: #e1ff73;
   font-size: 12px;
   padding:15px;
}
.popup_title{
   font-size: 25px;
   font-weight: bold;
   text-align: center;
   margin-bottom: 20px;
}
.popup_text{
   position: relative;
   display: flex;
   overflow: hidden;
   max-height: 130px;
   max-width:370px ;
}